<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="swissup_installer_listing_data_source" xsi:type="string">Swissup\Core\Model\ResourceModel\Module\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Swissup\Core\Model\ResourceModel\Module\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">swissup_core_module</argument>
            <argument name="eventPrefix" xsi:type="string">swissup_core_module_collection</argument>
            <argument name="eventObject" xsi:type="string">module_collection</argument>
            <argument name="resourceModel" xsi:type="string">Swissup\Core\Model\ResourceModel\Module</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="moduleCommand" xsi:type="object">Swissup\Core\Console\Command\ModuleCommand</item>
                <item name="moduleListCommand" xsi:type="object">Swissup\Core\Console\Command\ModuleListCommand</item>
                <item name="themeCreateCommand" xsi:type="object">Swissup\Core\Console\Command\ThemeCreateCommand</item>
                <item name="storeCreateCommand" xsi:type="object">Swissup\Core\Console\Command\StoreCreateCommand</item>
            </argument>
        </arguments>
    </type>
</config>
