<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="swissup_notification" instance="Swissup\Core\Observer\Backend\FetchNotifications" />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="swissup_add_popup_messages" instance="Swissup\Core\Observer\Backend\AddPopupMessages" />
    </event>
    <event name="controller_action_predispatch_swissup_installer_index">
        <observer name="swissup_cleanup_modules" instance="Swissup\Core\Observer\Backend\RemoveOldModules" />
    </event>
    <event name="swissup_core_module_collection_load_before">
        <observer name="swissup_load_components" instance="Swissup\Core\Observer\Backend\LoadComponents" />
    </event>
    <event name="swissup_core_module_collection_load_after">
        <observer name="swissup_add_components_data" instance="Swissup\Core\Observer\Backend\AddComponentsData" />
    </event>
</config>
