<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_Core::swissup"
            title="Swissup"
            module="Swissup_Core"
            sortOrder="55"
            resource="Swissup_Core::swissup"
        />
        <add id="Swissup_Core::general"
            title="General"
            module="Swissup_Core"
            sortOrder="5"
            parent="Swissup_Core::swissup"
            resource="Swissup_Core::general"
        />

        <add id="Swissup_Core::services"
            title="Services"
            module="Swissup_Core"
            sortOrder="0"
            parent="Swissup_Core::swissup"
            resource="Swissup_Core::services"
        />
        <add id="Swissup_Core::installer_index"
            title="Module Manager"
            module="Swissup_Core"
            sortOrder="10"
            parent="Swissup_Core::services"
            action="swissup/installer/index"
            resource="Swissup_Core::installer_index"
        />
    </menu>
</config>
